<div class="sidebar_contents">
</div>
<div class="main_contents">

  <p> 登録が完了しました。</p>
  <br /><br /><br />

  <p><%= link_to '→マイページに戻る',"/users/#{current_user.id}", class:'get' %> </p>
  <br />
  <p><%= link_to '→トップに戻る',houses_path, class:'get' %> </p>
