.my_show_mail_box{
  width:50vw;
  // height:0vh;
  // border:solid 1px gray;
  border-radius: 10px;
  margin:40px 310px 0 50px;
  background-color: #eeeeee;
  float:right;
  padding:10px 20px 30px 20px;
}
.my_mail_show{
  border:solid 1px gray;
  border-radius: 5px;
  // height:400px;
  width:70%;
  color:gray;
  margin:15px auto;
  background: white;
  padding-bottom: 60px;

}
.my_mail_show_tittle{
  border-bottom: solid 1px lightgray;
  margin:20px 10px 10px 7px;
}
.my_mail_show_text{
  margin:20px 10px 10px 7px;
}
.my_mail_show_time{
  float:right;
  color:gray;
  margin:35px 10px;
  font-size: 12px;
}
.mail_text_box{

}
