.new_box{
  background-color: #EEEEEE;
  height:calc(100vh - 150px);
  margin: 10px 150px 10px 120px;
  width:85%;
  padding-top: 40px;
  z-index: 1;
  border-radius: 10px;
}
.new_main_contents h6{
text-align: center;
margin:15px;
font-size: 15px;
}

.new_box:after {
content: " ";
display: block;
clear: both;
height: 0;
visibility: hidden;
z-index: 1;
}
.new_main_contents{
  height:calc(100vh - 200px);
  width:calc(100vw - 400px);
  color:black;
  border-radius: 10px;
  border:solid 2px lightgray;
  margin: 0px auto;
  background-color:#ffffff;
}
.new_part_1{
  float:left;
  display: inline-block;
  margin-left: 200px;
 //  p{
 //   margin:25px 10px 10px 10px;
 //   font-size: 14px;
 // }
 input{
   border-radius: 5px;
   color:black;
   background-color: #eeeeee;
   font-size: 15px;
   margin-bottom:10px;
   height:20px;
   border:solid 1px lightgray;
   background: white;
 }
 label{
   font-size: 14px;
 }
}

.new_part_2{
  float:left;
  display: inline-block;
  margin-left: 100px;
  margin-top: 10px;
  text-align: center;
    input {
      border-radius: 5px;
      color:black;
      background-color: #eeeeee;
      font-size: 15px;
      margin-bottom:10px;
      height:20px;
      border:solid 1px lightgray;
      background: white;
    }
    .new_submit{
      height:60px;
      width:130px;
      background-color: lightgray;
    }
}
.new_part_2 p{
 font-size: 14px;
}
.new_part_1 input {
  border-radius: 5px;
  color:black;
  font-size: 15px;
  // background-color: #eeeeee;
}
.new_part_3{
  border:solid 1px gray;
  display: inline-block;
  float:right;
}
.photo_tittle{
  margin:0 0 5px;
  font-size: 14px;
}
.new_form{
  font-size: 15px;
}
.new_main_contents .field{
  padding:8px;
}
.new_main_contents .actions{
  margin:15px;
}
.field p{
  margin:0;
}

.img_post_box{
  width:300px;
  height:200px;
  border:solid 1px lightgray;
  border-radius: 8px;
  background-color: #eeeeee;
  position:relative;
  img{
    width:80px;
  }
}

.img_post1{
  width:90px;
  height:60px;
  border-radius: 5px;
  // border:1px solid gray;
  position: absolute;
  top:5px;
  left:10px;
  background-color: #ffffff;
  font-size: 14px;
  padding:12px 0;
  line-height: 40px;
}

.img_post2{
  width:90px;
  height:60px;
  border-radius: 5px;
  // border:1px solid gray;
  position: absolute;
  top:5px;
  left:107px;
  background-color: #ffffff;
  font-size: 14px;
  padding:12px 0;
  line-height: 40px;
}
.img_post3{
  width:90px;
  height:60px;
  border-radius: 5px;
  position: absolute;
  top:5px;
  left:205px;
  background-color: #ffffff;
  font-size: 14px;
  padding:12px 0;
  line-height: 40px;
}
.img_post4{
  width:90px;
  height:60px;
  border-radius: 5px;
  // border:1px solid gray;
  position: absolute;
  top:100px;
  left:10px;
  background-color: #ffffff;
  font-size: 14px;
  padding:12px 0;
  line-height: 40px;
}

.img_post5{
  width:90px;
  height:60px;
  border-radius: 5px;
  // border:1px solid gray;
  position: absolute;
  top:100px;
  left:107px;
  background-color: #ffffff;
  font-size: 14px;
  padding:12px 0;
  line-height: 40px;
}
.img_post1:hover{
  border:dashed gray 2px;
  cursor: pointer;
  cursor: hand;
}
.img_post2:hover{
  border:dashed gray 2px;
  cursor: pointer;
  cursor: hand;
}
.img_post3:hover{
  cursor: pointer;
  cursor: hand;
  border:dashed gray 2px;
}
.img_post4:hover{
  border:dashed gray 2px;
  cursor: pointer;
  cursor: hand;
}
.img_post5:hover{
  border:dashed gray 2px;
  cursor: pointer;
  cursor: hand;
}
#house_madori{
  margin-left: 30px;
}
#house_price{
  margin-left:30px;
}
#house_house_age{
  margin-left: 15px;
}


.new_submit{
  margin:20px;
}
.side_submit{
  // display: none;
}
