p{
  color:black;
  margin:3px ;
}
.owner_p{
  margin:15px 40px 15px 20px;
  color:gray;
  display:inline-block;
  float: right;
}
.qabox{
  overflow:scroll;
}
.my_post_title{
  margin:5px ;
}
.show_house_name{
  margin:10px;
  border-bottom: solid 1px lightgray;
  font-style: bold;
}
.show_mypost_house{
  // height:400px;
  width:100%;
  border:solid 1px lightgray;
  border-radius: 5px;
  margin:12px 7px 15px 7px;
  position: relative;
  box-shadow:0px 0px 2px 2px lightgray;

}
.imagelist_box{
  width:350px;
  height:250px;
  background-color:#EEEEEE;
  margin:25px 30px 0px 25px;
  padding:2px;
  float:left;
  // border:solid 22px lightgray;
  border-radius: 10px;
}
.imagelist_box button{
  color:black;
  // background-color: gray;
  // border:solid 3px gray;
  border-radius: 5px;
}

.imagelist_box
.show_house_image_list{
  width:300px;
  height:200px;
  margin:20px 0px 10px 25px;

}
.show_house_image{
  width:150px;
  height:150px;
}

.show_house_houselist{
  border:solid 1px lightgray;
  border-radius: 5px;
  display:inline-block;
  margin:15px 20px 0px 20px;
  // position: absolute;
  // top:55px;
  // left:200px;

  border-collapse: collapse;
}
.show_house_houselist th {
  border:solid 1px lightgray;
  padding:2px 50px;
  font-weight: normal;
  font-size: 10px;
  background-color: #F0FFFF;

}
.show_house_houselist td{
  border:solid 1px lightgray;
  font-size: 10px;
  height: 40px;
  text-align: center;
}

.qabox{
  height:160px;
  width:94%;
  border:solid 1px lightgray;
  border-radius: 5px;
  margin:20px 7px 15px 20px;
  box-shadow:0px 2px 2px 2px lightgray;
}
#new_qaform{
  position:relative;
  margin-bottom: 10px;
}
.qa_textbox{
  border:solid 1px lightgray;
  // border-radius: 5px;
  width:65%;
  height:25px;
  // position:absolute;
  // left:20px;
  // top:10px;
  margin: 0px 100px 5px 75px;
  border:solid 1px lightgray;
}
.qa_submit{
  border:solid 1px lightgray;
  border-radius: 5px;
  width:8%;
  height:25px;
  // margin-bottom: px;
  position:absolute;
  right:55px;
  top:2px;
  font-family: sans-serif;
  font-size: 12px;
  border:solid 1px lightgray;

}
.qabox p{
  font-size: 10px;
}
.baloon_left p{
  font-size: 12px;
}
.baloon_right p{
  font-size: 12px;
}
.qa_name{
  float:left;
  margin-left: 20px;
  margin-top: 2px;
}
.qa_name_right{
  float:right;
  margin-right: 20px;
}
.baloon_right{
   background: #EEEEEE;
   position: relative;
   width:70%;
   margin:10px 5px 10px 90px;
   border: solid 1px lightgray;
   border-radius: 5px;
   // float:left;
}
.baloon_right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border: 3px solid transparent ;
  border-left: 15px solid #EEEEEE;

}
.baloon_left{
   background: #EEEEEE;
   position: relative;
   width:70%;
   // margin:5px 5px 5px 50px;
   margin:10px 5px 10px 90px;
   border: solid 1px lightgray;
   border-radius: 5px;
}
.baloon_left:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border: 3px solid transparent ;
  border-right: 15px solid #EEEEEE;
}
#map {
  height: 210px;
  width: 260px;
  background-color: #eeeeee;
  margin:15px 10px 10px 10px;
  border-radius: 10px;
}
.map_box{
  float:left;
  height:240px;
  margin: 30px 20px;
  border:solid 1px lightgray;
  border-radius: 8px;
  position:relative;
  .map_notice{
    position:absolute;
    font-size: 12px;
    left:50px;
    top:100px;
  }
}
.show_delete{
  position: absolute;
  top:332px;
  right:60px;
  font-size: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_post_house{
  position: absolute;
  top:354px;
  right:60px;
  font-size: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_favorite_btn{
  position: absolute;
  top:377px;
  right:40px;
  font-size: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_favorite_btn2{
  position: absolute;
  top:395px;
  right:20px;
  font-size: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
#hidden_house_id{
  display:none;
}
