// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mail_box{
  border: solid 3px lightgray;

  border-radius: 5px;
  margin:35px 10px 0px 10px;
  font-size: 12px;
  padding: 0px 5px 15px;
  background-color: white;
  height:25%;
  .mail_box_tittle{
    margin-bottom: 10px;
    font-size: 11px;
    padding: 0;
  }
}
.log_in_form{
  border:solid 2px lightgray;
  border-radius: 20px;
  width:40%;
  margin:15px auto;
}
.log_in_form h2{
  display: inline-block;
  margin: 10px  120px 20px 170px;
  color:lightgray;
  border:none;
}

.sidebar_contents h5{
  margin:20px 5px;
}


.user_show_info{
  border: solid 3px lightgray;
  border-radius: 5px;
  margin:5px 10px;
  font-size: 12px;
  padding: 10px 5px 20px;
  background-color: #EEEEEE;
}



.my_post_title{

}
.adv_contents{
  height: 600px;
  width: 240px;
  border-radius: 10px;
  border:solid 2px lightgray;
  box-shadow:0px 2px 2px 2px lightgray;
  // position:absolute;
  // top:110px;
  // right: 105px;
  padding:8px;
  float: right;
  margin:50px 90px 0 10px;
}

.post_house{
  border: solid 1px gray;
  margin:3px;
}
.delete{
  border: solid 1px gray;
  margin:3px;
}

.user_detail{
  position: absolute;
  top:95px;
  right:67px;
  font-size: 15px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_user_detail{
  position: absolute;
  top:92px;
  right:67px;
  font-size: 15px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_house_list{
  border:solid 1px lightgray;
  border-radius: 5px;
  display:inline-block;
  position: absolute;
  top:50px;
  left:190px;
  margin:10px 0 0 10px;
  border-collapse: collapse;
}
.show_house_list th {
  border:solid 1px lightgray;
  padding:3px 50px;
  font-weight: normal;
  font-size: 10px;
  background-color: #F0FFFF;
  height:10px;
  writing-mode: horizontal-tb;
}
.show_house_list td{
  border:solid 1px lightgray;
  font-size: 10px;
  height: 30px;
  text-align: center;
}
.show_user_post_house{
  position: absolute;
  top:47px;
  right:60px;
  font-size: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_user_delete{
  position: absolute;
  top:69px;
  right:60px;
  font-size: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px;
}
.show_user_detail{
}
.user_edit{
  text-align: center;
  padding:30px;
  &__tittle{
    font-size: 35px;
    display: inline-block;
    margin: 0px 0 15px;
    padding-right: 30px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    color:black;
    text-shadow: none;
  }
}
.registration_link{
  margin:20px 0;
}
